@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #f1f1f1;
    color: #0f141e;
    /*font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;*/
    font: normal 16px 'Roboto', sans-serif;
}
a {
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
a:active{
    color: blue;
}
a:visited{
    color: grey;
}
.avatar {
    width: 200px;
    border-radius: 25%;
    box-shadow: 20px 3px 14px rgba(73, 73, 73, 0.25);

}

.info{
    display: flex;
    margin-bottom: 20px;
}
@media(max-width: 700px){
    .info{
        display: block;
         text-align: center;
    }

}
.info-text{
    margin-left: 40px;
}
.info-text h4{
    margin-bottom: 10px;
}

.info p{
    color: #86898f;
    margin: 0;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    /*text-transform: uppercase;*/
   /* letter-spacing: 0px;*/
}

.social{
    
    /* padding: 15px 20px 25px 30px; */
    padding-top: 15px;
    padding-left: 30px;
    padding-bottom: 25px;
    padding-left: 30px;
    margin: 5x;
}
.container{
    max-width: 900px;
    margin: auto;
    padding-top: 30px;
    margin-bottom: 400px;
}
.main_info {
    background: linear-gradient(to bottom, #ccffff 21%, #ffffcc 89%);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 20px 3px 14px rgb(255 233 0 / 25%);
}

.card{
    padding: 15px 20px;
    background-color: red;
    margin-bottom: 20px;
    border-radius: 20px;

}
.card h2{
    margin-bottom: 10px;
}
.bg-yellow{
    background-color: #fff9dc;
}
.bg-green{
    background-color: #e5ffe7;
}
.list li{
    padding: 0 20px;
    margin-bottom: 10px ;
}

.table{
    width: 100%;
}
.table td {
     padding-bottom: 10px;
    }
.contact{
    text-align: left;

}
.form-group label{
    display:  block;
    font-size: 14px;
    color: #86898f;
}
.form-group textarea,
.form-group input{
    width: 100%;
    border: none;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    color: black;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
    background-color: transparent   ;
}
.contact h2 {
    text-align: center;
  }
  .row {
      display: flex;
      margin-bottom: 20px;
  }
  .row > .form-group{
      width: 50%;
      margin-right: 20px;
  }
  .btn{
      background: black;
      color: white;
      font-family: inherit;
      border: none;
      cursor: pointer;
      padding: 15px 20px;
  }
  .btn:hover{
      opacity: 0.9;
  }
